/* Copying and distribution of this file, with or without modification,
 * are permitted in any medium without royalty provided this notice is
 * preserved.  This file is offered as-is, without any warranty.
 * Names of contributors must not be used to endorse or promote products
 * derived from this file without specific prior written permission.
 */


@charset "UTF-8";


.left
{
	text-align: left;
}

.right
{
	text-align: right;
}

.justify
{
	text-align: justify;
}

.center
{
	text-align: center;
}

.center-block
{
	margin: 0 auto;
}


.bold
{
	font-weight: bold;
}

.bolder
{
	font-weight: bolder;
}

.underline
{
	text-decoration: underline;
}

.italic
{
	font-style: italic;
}

.oblique
{
	font-style: oblique;
}


/* Colors */

.black
{
	color: black;
}

.blue
{
	color: blue;
}

.green
{
	color: green;
}

.red
{
	color: red;
}

.white
{
	color: white;
}


.block
{
	display: block;
}

.inline
{
	display: inline;
}


/* Float */

.no-float-left
{
	clear: left;
}

.no-float-right
{
	clear: right;
}

.no-float
{
	clear: both;
}


/* List */

.list-no-style
{
	list-style-type: none;
}

.list-position-inside
{
	list-style-position: inside;
}

ul.disc
{
	list-style-type: disc;
}

ul.circle
{
	list-style-type: circle;
}

ul.square
{
	list-style-type: square;
}

ul.lower-latin
{
	list-style-type: lower-latin;
}

ul.upper-latin
{
	list-style-type: upper-latin;
}


/* Margin and padding */

.no-space
{
	margin-top:    0px;
	margin-bottom: 0px;
	margin-left:   0px;
	margin-right:  0px;
}

.no-margin-left
{
	margin-left: 0px;
}

.no-margin-right
{
	margin-right: 0px;
}

.no-margin-top
{
	margin-top: 0px;
}

.no-margin-bottom
{
	margin-bottom: 0px;
}

.no-padding-left
{
	padding-left: 0px;
}
