/* Copying and distribution of this file, with or without modification,
 * are permitted in any medium without royalty provided this notice is
 * preserved.  This file is offered as-is, without any warranty.
 * Names of contributors must not be used to endorse or promote products
 * derived from this file without specific prior written permission.
 */


@charset "UTF-8";

@import url("classes.css");

@viewport
{
	width: device-width;
}


*
{
	max-width : 100%;
}

h1
{
	text-align: center;
}

noscript
{
	font-size : x-large;
}

pre code
{
	white-space: pre-wrap;
}


body > header
{
	margin: 0;
	margin-bottom: 10px;
	padding: 9px;
	
	background-color: grey;
	color: white;
}

body > header *
{
	margin: 0;
	font-size: xx-large;
}

body > header a[title="back"]
{
	float: left;
	
	padding: 1px;
	margin-right: 12px;
	
	vertical-align: middle;
	
	border: 1px solid white;
	border-radius: 5px;
	
	color: inherit;
	text-decoration: none;
	font-weight: 700;
}


body > header + nav ul,
h1 + nav ul
{
	list-style-type: none;
	list-style-position: inside;
	
	margin: 0;
	padding: 0;
	
	text-align: center;
}

body > header + nav ul li,
h1 + nav ul li
{
	display: inline;
	padding: 0;
	margin: 5px;
}

body > header + nav ul li a,
h1 + nav ul li a
{
	display: block;
	border: 2px solid;
	border-radius: 10px;
	
	font-size: xx-large;
	text-decoration: none;
}
